@import '../bower_components/bootstrap/less/bootstrap.less'; /* Compiled in Codekit - referenced here as a Framework */
@import 'variables.less'; /* Your site specific LESS variables - these override BS defaults  */
@import (inline) '../bower_components/swiper/dist/css/swiper.min.css';


* {
	-webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

@font-face {
	font-family: 'Conv_NoMoRg__';
	src: url('../fonts/NoMoRg__.eot');
	src: local('☺'), url('../fonts/NoMoRg__.woff') format('woff'), url('../fonts/NoMoRg__.ttf') format('truetype'), url('../fonts/NoMoRg__.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Conv_NoMoBd__';
	src: url('fonts/NoMoBd__.eot');
	src: local('☺'), url('../fonts/NoMoBd__.woff') format('woff'), url('../fonts/NoMoBd__.ttf') format('truetype'), url('../fonts/NoMoBd__.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

body {
    height:100vh;
    overflow:hidden;
    border:5.4vmin solid white;
}

.swiper-container {
    width:100vw;
    height:100vh;
    position:absolute;
    top:0;
    left:0;

}

.swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.row {
    margin:0;
}

h1,h2,h3,h4,h5,h6 {
    text-transform: uppercase;
}

h1.title-page {
    font-size:17vmin;
    font-weight:900;
}

.btn {
    border-width:1vmin;
    transition: all 0.3s ease;
}

.btn:hover {
    background:rgba(255,255,255,0.4);
}

.btn:focus, .btn:active:focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn.active.focus {
    outline: none;
}

#bg {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}
